<!DOCTYPE html>
<html>
<head>
  <title>About</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='bower_components/bootstrap-social/bootstrap-social.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
</head>

<body>
<div id="wrapper">
  <img src="/static/images/banner.png" class="img-responsive" alt="">
</div>
 <header id="header">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./"></a>
          <ul class="nav navbar-nav">
              <li><a href= "{{ url_for('home') }}">Home</a></li>
              <li><a href= "{{ url_for('issues') }}">Issues</a></li>
              <li><a href= "{{ url_for('about') }}">About</a></li>
              <li><a href= "{{ url_for('donate') }}">Donate</a></li>
          </ul>
      </div>
    </div>
  </div>
 </header>

<!-- Page Content -->
<div class="container">
<div id="para1">
 <div class="row">
        <div class="col-sm-12">
          <h4>About</h4>
            <hr>
            <h5>Population</h5>
              <p>
                Indiana ranked 15th in population in the United States with an estimated total of 6,271,973 in 2005, an
                increase of 3.1% since 2000. Between 1990 and 2000, Indiana's population grew from 5,544,159 to
                6,080,485, an increase of 9.7%. The population is projected to reach 6.5 million by 2015 and 6.7
                million by 2025. The population density in 2004 was 173.9 persons per sq mi. In 2004, the median age
                was 35.7. Persons under 18 years old accounted for 25.7% of the population, while 12.4% was age 65 or
                older. Although the French founded the first European settlement in Indiana in 1717, the census
                population was no more than 5,641 in 1800, when the Indiana Territory was established. Settlers flocked
                to the state during the territorial period, and the population rose to 24,520 by 1810. After Indiana
                became a state in 1816, its population grew even more rapidly, reaching 147,178 in 1820 and 988,416 in
                1850. At the outbreak of the Civil War, Indiana had 1,350,428 inhabitants and ranked fifth in population
                among the states. Indiana was relatively untouched by the great waves of European immigration that swept
                the United States from 1860 to 1880. In 1880, when the state's population was 1,978,301, Indiana had
                fewer foreign-born residents (about 7% of its population) than any other northern state. Indiana had
                doubled its population to 5,193,669 by the time of the 1970 Census. Indianapolis, the capital and largest
                city, expanded its boundaries in 1970 to coincide with those of Marion County, thereby increasing its area
                to 388 sq mi (1,005 sq km) and its population by some 50% (the city and county limits also include four
                self-governing communities). The estimated population was 784,242 in 2004; the Indianapolis metropolitan
                area had an estimated population of 1,621,613. Other cities with 2004 populations estimated at more than
                100,000 were Fort Wayne, 219,351; Evansville, 117,156; and South Bend, 105,494. All of these cities
                suffered population declines in the 1970s, 1980s, and 1990s.
                <!--http://www.encyclopedia.com/places/united-states-and-canada/us-political-geography/indiana-->
              </p>
              <h5>Local Government</h5>
              <p>
                In 1816, when Indians controlled central and northern Indiana, the state had only 15 counties. By 1824,
                the number of counties had grown to 49. As of 2005, there were 92 counties. Counties in Indiana have
                traditionally provided law enforcement in rural areas, operated county courts and institutions,
                maintained county roads, administered public welfare programs, and collected taxes. Under a home-rule
                law enacted by the state in 1980, they also have "all the power they need for the effective operation
                of government as to local affairs" or, in effect, all powers not specifically reserved by the state. In
                1984, counties were given the power to impose local income taxes. The county's business is conducted by
                a board of county commissioners, consisting of three members elected to four-year terms. Nine officials
                who are also elected to four-year terms exercise executive functions: the county auditor, treasurer,
                recorder, clerk, surveyor, sheriff, prosecuting attorney, coroner, and assessor. The county's appointed
                officials include the county superintendent of schools, highway supervisor, highway engineer, extension
                agent, attorney, and physician. An elected seven-member county council exercises taxing power and acts
                as a check on the board of county commissioners. The major exception to this general pattern is Marion
                County, which in 1970 was consolidated with the city of Indianapolis and is governed by an elected mayor
                and council. Townships (1,008 in 2002) provide assistance for the poor and assess taxable property. Each
                township is administered by a trustee who is elected to a four-year term. In a few townships, the trustee
                oversees township schools, but most public schools are run by community school corporations.
                <!--http://www.encyclopedia.com/places/united-states-and-canada/us-political-geography/indiana-->
              </p>
        </div>
     </div>
</div>

   <div id="imgContainer">
     <div class="row">
         <hr>
        <div class="col-sm-6">
            <img src="/static/images/Indiana%20city.png" class="img-responsive" alt="">
        </div>

        <div class="col-sm-6">
          <!-- image2 goes here -->
            <img src="/static/images/Indiana%20town.png" class="img-responsive" alt="">
        </div>
         <hr id="HRabout">
      </div>
   </div>

     <div id="para2">
      <div class="row">
        <div class="col-sm-12">
         <hr>
            <h5>Economy</h5>
            <p>
                Indiana is both a leading agricultural and industrial state. The economy was almost entirely agricultural
                until after the Civil War. By 1900, rapid industrial development had tripled the number of factories in the
                state to 18,000, employing a total of 156,000 workers. During that period, the mechanization of agriculture
                doubled of the number of farms to a peak of 220,000 in 1900. Metals and other manufacturing industries
                surged during and after World War I, lagged during the Great Depression of the 1930s, then surged again
                during and after World War II. Between 1940 and 1950, the number of wage earners in the state nearly doubled.
                Job opportunities brought in many workers from other states and encouraged the growth of labor unions. The
                state's industrial development in Indianapolis, Gary, and other cities has been based on its plentiful
                natural resources—coal, natural gas, timber, stone, and clay—and on good transportation facilities.
                The northwestern corner of the state is the site of one of the world's greatest concentrations of heavy
                industry, especially steel. Indiana produced 24% of the nation's steel in 1999, the most of any state.
                Until the end of the 20th century, the manufacturing sector continued to grow in absolute terms (15% between
                1997 and 2000) and continued to account for about 30% of the Indiana's total output. In the national
                recession of 2001, however, manufacturing output fell 9.2%, and manufacturing fell to 27.2% of total
                output. The Indiana economy experienced 8.1% growth in 1998, which moderated to 2.9% in 1999 and 4.7% in
                2000, and then plunged to 0.1% in 2001. Job creation, which had averaged over 2% a quarter since 1993,
                became negative (layoffs exceeding job creation) by the second half of 2001 and remained negative
                throughout 2002. Although the unemployment rate remained below the national average, Indiana had the
                highest foreclosure rate on conventional family mortgages among the states in 2002. In 2004, Indiana's
                gross state product (GSP) totaled $227.569 billion, of which manufacturing accounted for $63.477 billion
                or 27.8% of GSP, followed by real estate at $22.197 billion (9.7% of GSP) and health care and social
                services $16.035 billion (7% of GSP). In that same year, there were an estimated 451,437 small businesses
                in Indiana. Of the 125,746 businesses having employees, a total of 122,716 or 97.6% were small companies.
                An estimated 13,906 new businesses were established in the state in 2004, up 3.4% from the year before.
                Business terminations that same year came to 15,282, up 1% from 2003. There were 524 business bankruptcies
                in 2004, down 18.1% from the previous year. In 2005, the personal bankruptcy (Chapter 7 and Chapter 13)
                filing rate was 896 filings per 100,000 people, ranking Indiana as the sixth-highest in the nation.
                <!--http://www.encyclopedia.com/places/united-states-and-canada/us-political-geography/indiana-->
             </p>
            <br>
            <h5>Tourism, Travel, and Recreation</h5>
             <p>
                 Tourism is of moderate economic importance to Indiana; in 2004, the industry declined slightly. That
                 year, some 57.7 million visitors to the state spent $6.5 billion, down from $6.7 billion in 2003. The
                 industry supported some 94,000 full-time jobs. Tourism payroll is $1.7 billion. About 70% of visitors
                 participate in outdoor activities. Summer resorts are located in the north along Lake Michigan and in
                 Steuben and Kosciusko counties, where there are nearly 200 lakes. Popular tourist sites include the
                 reconstructed village of New Harmony, site of the famous communal living experiments of the early 19th
                 century; the Indianapolis Motor Speedway and Museum (home of the Indianapolis 500 auto race); and the
                 George Rogers Clark National Historic Park at Vincennes. The city of Huntington has a museum dedicated
                 to US vice presidents and Fort Wayne has a Lincoln Museum. The city of Fremont has the Wild Winds
                 Buffalo Preserve, and the College Football Hall of Fame is in South Bend, also home to the University
                 of Notre Dame. Indiana has 23 state parks comprising 59,292 acres (21,800 hectares). The largest state
                 park is Brown County (15,543 acres/6,290 hectares), near Nashville. There are 15 state fish and wildlife
                 preserves, totaling about 75,200 acres (30,400 hectares). The largest are Pigeon River, near Howe, and
                 Willow Slough, at Morocco. Game animals during the hunting season include deer, squirrel, and rabbit;
                 ruffed grouse, quail, ducks, geese, and partridge are the main game birds. In addition to the Indiana
                 State Museum, there are 15 state memorials, including the Wilbur Wright State Memorial at his birthplace
                 near Millville, the Ernie Pyle birthplace near Dana, and the old state capitol at Corydon. Among the
                 natural attractions are the Indiana Dunes National Lakeshore on Lake Michigan (12,534 acres/5,072
                 hectares); the state's largest waterfall, Cataract Falls, near Cloverdale; and the largest underground
                 cavern, at Wyandotte.
                 <!--http://www.encyclopedia.com/places/united-states-and-canada/us-political-geography/indiana-->
             </p>
        </div>
      </div>
     </div>
</div>
<hr>


<!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-6">
                   <strong>Connect with us on:</strong><br>
                     <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
                         <span class="fa fa-facebook"></span>
                     </a>
                    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                     <a class="btn btn-social-icon btn-google" href="https://plus.google.com/explore">
                         <span class="fa fa-google"></span>
                     </a>
                </div>

                <div class="col-lg-6">
                    <address>
                        <strong>Contact us:</strong><br>
                        Tel:<br>
                        (202) 863-8000<br>
                        Address:<br>
                        430 South street<br>
                        Washington, DC 20003
                    </address>
                   <p>Copyright &copy 2017, All rights reserved | Support@MarkW.com</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
</body>
</html>