<!DOCTYPE html>
<html>
<head>
  <title>Donate</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='bower_components/bootstrap-social/bootstrap-social.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
</head>

<body>
<div id="wrapper">
  <img src="/static/images/banner.png" class="img-responsive" alt="">
</div>
 <header id="header">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./"></a>
          <ul class="nav navbar-nav">
              <li><a href= "{{ url_for('home') }}">Home</a></li>
              <li><a href= "{{ url_for('issues') }}">Issues</a></li>
              <li><a href= "{{ url_for('about') }}">About</a></li>
              <li><a href= "{{ url_for('donate') }}">Donate</a></li>
          </ul>
      </div>
    </div>
  </div>
 </header>

<!-- Page Content -->
<div class="container">
<div id="donate1">
 <div class="row">
        <div class="col-sm-12">
          <h4>Make a donation</h4>
            <hr>
        <p>
            Stand Up for What Matters and donate today to support us as we endeavour to right the current
            wrongs in our society. Let’s join together and stand up for a just, tolerant society that
            demands we lead with hope, courage and conviction. Please help us make history and deliver a
            more fairer society where everyone is equal and all voices are heard.

            By making a donation you confirm that you are eligible to make political donations in the US,
            and that this donation is not made for or on behalf of any other person. All donations received
            are subject to the regulations of the Federal Election Campaign Act 1971. Please leave your name,
            email address and telephone number below we will be in touch regarding your donation. Thank you for your support.
        </p>
        </div>
     </div>
</div>

    <div id="donate2">
      <div class="row">
        <div class="col-sm-12">
         <hr>
         <form>
             <div class="row">
                 <div class="col-md-6">
                     <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required"/>
                        </div>

                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" required="required"/>
                        </div>

                        <div class="form-group">
                            <label for="telephone">Telephone</label>
                            <input type="text" class="form-control" id="telephone" placeholder="Enter telephone number" required="required"/>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Please type any questions you may have here"></textarea>
                        </div>
                    </div>
                    <div id="donateSubmit">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
        </div>
      </div>
     </div>
</div>
<hr>

 <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-6">
                   <strong>Connect with us on:</strong><br>
                     <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
                         <span class="fa fa-facebook"></span>
                     </a>
                    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                     <a class="btn btn-social-icon btn-google" href="https://plus.google.com/explore">
                         <span class="fa fa-google"></span>
                     </a>
                </div>

                <div class="col-lg-6">
                    <address>
                        <strong>Contact us:</strong><br>
                        Tel:<br>
                        (202) 863-8000<br>
                        Address:<br>
                        430 South street<br>
                        Washington, DC 20003
                    </address>
                   <p>Copyright &copy 2017, All rights reserved | Support@MarkW.com</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
</body>
</html>