<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='bower_components/bootstrap-social/bootstrap-social.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
</head>

<body>
<div id="wrapper">
  <img src="/static/images/banner.png" class="img-responsive" alt="">
</div>
 <header id="header">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./"></a>
          <ul class="nav navbar-nav">
              <li><a href= "{{ url_for('home') }}">Home</a></li>
              <li><a href= "{{ url_for('issues') }}">Issues</a></li>
              <li><a href= "{{ url_for('about') }}">About</a></li>
              <li><a href= "{{ url_for('donate') }}">Donate</a></li>
          </ul>
      </div>
    </div>
  </div>
 </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-2">
                <img src="/static/images/MCphoto.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-10">
                <h4>Rachel Carney</h4>
                <h5>Candidate for Governor of Indiana</h5>
                <p>
                    Greetings, my name is Rachel Carney and I am the Democratic candidate running for the office of Governor of Indiana.
                    As member of the Democratic Party, I have served in the Senate since January 3, 2013.
                    I was born and raised in Massapequa, New York, I then relocated to Indiana when I was offered a place to study law at The University of Notre Dame.
                    After completing my studies I decided to settle down in Indiana and began my career serving on the Indiana State Election Board before working as an attorney in practice.
                    From 1997 to 2001, I was a member of the Mishawaka Marian School Board, serving as the board's President from 2000 to 2001.
                    In 2004, I ran for the Democratic nomination for a seat in the U.S. House of Representatives, losing to Republican incumbent Chris Chocola in the general election.
                    In 2006 I decided to run again challenging Chris Chocola and prevailing in the general election and earning 54% of the vote.
                    In May 2012, I announced my intentions to run for the U.S. Senate, winning the Democratic nomination one year later in an uncontested primary.
                    I then faced Indiana State Treasurer Richard Mourdock, who had defeated 36-year incumbent Richard Lugar in the Republican primary.
                    On November 6, 2012, I went on to defeat Mourdock in the general election, securing 50% of the vote to Mourdock's 44% thus becoming a member of senate. As you can see I have a strong devotion to politics and
                    what drives that devotion is standing up for those who feel their voices are not heard. As governor of Indiana
                    I would ensure all voices are heard.
                    <!--(Wikipedia: https://en.wikipedia.org/wiki/Joe_Donnelly)-->
                </p>
            </div>
        </div>

        <!-- /.row -->

        <hr>

        <div id="secondRow">
        <div class="row">
            <div class="col-sm-8">
                <h4>Why I am running</h4>
                <br>
                <h5>Education</h5>
                <p>
                    We must invest in school readiness so our first graders can meet the highest English and math standards in the country.
                    My $50 Million school readiness program offers flexibility for schools to meet local needs - like full day kindergarten,
                    moving the kindergarten entry date or programs like head start, or pre-school. My “Ready to Read” initiative includes funding for reading
                    assessments, summer programs, reading institutes, and a tutor for every child struggling to read. Since our
                    children will now be required to meet the highest math standards in the country, Algebra will be the key to
                    their success. That’s why I have proposed a middle school summer math program to expand learning time.
                    But that’s not all. Within this $50 million initiative, we will also create 500 master reading and math
                    teachers in the schools that need them the most. And the 50 schools that make the most improvement in reading and
                    math will be rewarded.<!--(http://www.ontheissues.org/Frank_O_Bannon.htm)-->
                </p>

                <h5>Budget & Economy</h5>
                <p>
                    In just the past four years we have invested record amounts in our public schools, our colleges and universities, and our roads and bridges.
                    And, we have returned $1.5 billion to Hoosier taxpayers. My spending priorities [for the coming year] are:
                    Continuing to improve our public schools
                    Supporting our most vulnerable Hoosiers
                    Making sure our working men and women have 21st Century skills; and
                    Continuing important state services.
                    These are my spending priorities based on our available revenues.
                    Because our economy is cooling down, our reserve is precariously low.
                    Most of that reserve - about $600 million in the Rainy Day Fund and $265 million in the Tuition Support Fund - cannot be used unless certain conditions are met.
                    That is why I am proposing that we use $410 million of surplus gaming money to pay for some of these priority spending items and help us get through this economic slowdown.
                    <!--(http://www.ontheissues.org/Frank_O_Bannon.htm)-->
                </p>

                <h5>Welfare & Poverty</h5>
                <p>
                    Despite an ongoing need to provide social services to families, the elderly, and the disabled, federal
                    funding for the Social Services Block Grant (SSBG) has been cut dramatically over the past few years,
                    indicating a weakening of the historic state-federal partnership to serve needy Americans. In 1996,
                    as part of the historic welfare reform agreement, Congress agreed to provide the states $2.38 billion
                    each year for SSBG. Since that time, funding has been chipped away little by little.
                    This year, SSBG is funded at $1.725 billion. The nation’s Governors have consistently supported the
                    broad flexibility of the SSBG and are adamantly opposed to cuts in federal funding for the program.
                    Governors believe that funding for SSBG is among the most valuable federal investment that can be made
                    for the nation’s most vulnerable population. Further cuts will be difficult for state and local governments
                    to absorb and will cause a disruption in the delivery of the most critical human services.
                    The nation’s Governors strongly urge Congress and the administration to reject the proposed cuts and to
                    restore funding and flexibility to the program. <!--(http://www.ontheissues.org/Frank_O_Bannon.htm)-->
                </p>
            </div>
            <div class="col-sm-4">
						<div class="form-group">
							<div class="cols-sm-10">
								<div>
                                   <button type="button" class="btn btn-lg">Donate</button>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="cols-sm-10">
								<div>
                                   <button type="button" class="btn btn-default btn-lg">Volunteer</button>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="cols-sm-10">
								<div>
                                   <button type="button" class="btn btn-primary btn-lg">Contact</button>
								</div>
							</div>
						</div>

                        <div class="form-group">
                            <label for="email">Subscribe for campaign updates</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email & click submit" required="required"/>
                        </div>

						<div class="form-group ">
                          <button type="button" class="btn btn-success">Submit</button>
                        </div>
					</form>
				</div>
			</div>
		</div>
    </div>

        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-6">
                   <strong>Connect with us on:</strong><br>
                     <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
                         <span class="fa fa-facebook"></span>
                     </a>
                    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                     <a class="btn btn-social-icon btn-google" href="https://plus.google.com/explore">
                         <span class="fa fa-google"></span>
                     </a>
                </div>

                <div class="col-lg-6">
                    <address>
                        <strong>Contact us:</strong><br>
                        Tel:<br>
                        (202) 863-8000<br>
                        Address:<br>
                        430 South street<br>
                        Washington, DC 20003
                    </address>
                   <p>Copyright &copy 2017, All rights reserved | Support@MarkW.com</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
</body>

</html>