<!DOCTYPE html>
<html>
<head>
  <title>Issues</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css')}}"/>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='bower_components/bootstrap-social/bootstrap-social.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
</head>

<body>
<div id="wrapper">
  <img src="/static/images/banner.png" class="img-responsive" alt="">
</div>
 <header id="header">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./"></a>
          <ul class="nav navbar-nav">
              <li><a href= "{{ url_for('home') }}">Home</a></li>
              <li><a href= "{{ url_for('issues') }}">Issues</a></li>
              <li><a href= "{{ url_for('about') }}">About</a></li>
              <li><a href= "{{ url_for('donate') }}">Donate</a></li>
          </ul>
      </div>
    </div>
  </div>
 </header>

<!-- Page Content -->
<div class="container">
  <div  id="outer" class="container-fluid">
      <h4>Education funding through the years</h4>
       <hr>
         <!-- menu select -->
            <div class="col-sm-12">
             <div class="chart-wrapper">
              <div class="chart-title">
                Select State
              </div>
              <div class="chart-stage">
                <div id="menu-select"></div>
              </div>
             </div>
            </div>
        <!-- menu select -->

        <!-- Time Chart -->
         <div class="row">
            <div class="col-sm-3">
              <div>
                <h5>Lack of funding</h5>
                <p>
                    Americans believe a lack of financial support is the biggest problem currently facing public schools,
                    according to the annual Gallup poll of public attitudes toward public schools released last month,
                    but they also say that balancing the federal budget is more important than improving the quality of
                    education. Funding was by far the biggest issue with 35 percent of those polled saying it was
                    a giant obstacle for public schools in their community. Despite the view that education funding
                    is less important, there has been an increase in federal education
                    funding through the years which indicates the problem lies with local government.
                    <!--(http://www.governing.com/news/politics/gov-biggest-problem-for-public-education-lack-of-funding-poll-says.html)-->
                </p>
              </div>
            </div>

            <div class="col-xs-9">
             <div class="chart-wrapper">
              <div class="chart-title">
                Federal Education Funding
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
             </div>
            </div>
         </div>
         <!-- Time Chart -->
        <hr>

        <!-- funding Pie -->
      <div class="row">
        <div class="col-sm-3">
          <div class="chart-wrapper">
            <div class="chart-title">
              Local Funding
            </div>
            <div class="chart-stage">
              <div id="funding-chart"></div>
            </div>
          </div>
        </div>

      <div class="col-sm-9">
          <h5>The challenge</h5>
          <p>
           The challenge of ensuring educational equity is formidable. Our country's international competitors are
              improving faster than we are educationally, and many are having greater success in closing achievement
              gaps—which remain stubbornly wide in the United States. Structural barriers, including inequitable funding
              systems, impede our progress. While one might expect schools in low-income communities to receive extra
              resources, the reverse is often true; a Department of Education study found that 45 percent of high-poverty
              schools received less state and local funding than was typical for other schools in their district. We also
              know that traditionally under served students, including minorities and low-income students, attend and
              complete college at far lower rates than their peers. These students are suspended, expelled, and drop out
              at higher rates, and are less likely to have access to strong teachers and challenging curricula. As just
              one striking example, a recent study of the Advanced Placement exam in computer science found that in 11
              states, no African-American students took the exam; in eight states, no Hispanic students participated.
              Recognizing these disparities we are truly committed to advancing equity in education.
              That commitment underlies nearly every significant activity for the U.S. Department of Education.
              We're motivated in this work because we recognize the power of education to transform lives.
              <!--https://www.ed.gov/equity-->
          </p>
        </div>
      </div>
     <!-- funding Pie -->

    <hr>

     <!-- Poverty -->
    <div class="row">
            <div class="col-sm-8">
              <div class="How-h5">
                <h5>How funding affects students in poverty</h5>
                <p>
                  In Indiana and many other states throughout the US inequity between wealthier and poorer districts
                    continues to exist. That’s often because education is paid for with the amount of money available
                    in a district, which doesnt necessarily equal the amount of money required to adequately teach
                    students. “Our system does not distribute opportunity equitably,” a landmark 2013 report from a
                    group convened by the former Education Secretary Arne Duncan, the Equity and Excellence Commission,
                    reported. This is mainly because school funding is so local. The federal government chips in about 8
                    to 9 percent of school budgets nationally, but much of this is through programs such as Head Start
                    and free and reduced lunch programs. States and local governments split the rest, though the method
                    varies depending on the state. Nationally, high-poverty districts spend 15.6 percent less per
                    student than low-poverty districts do, according to U.S. Department of Education. Lower spending can
                    irreparably damage a child’s future, especially for kids from poor families. A 20 percent increase
                    in per-pupil spending a year for poor children can lead to an additional year of completed education,
                    25 percent higher earnings, and a 20-percentage point reduction in the incidence of poverty in
                    adulthood, according to a paper from the National Bureau of Economic Research.
                    <!--https://www.theatlantic.com/business/archive/2016/08/property-taxes-and-unequal-schools/497333/-->
                </p>
              </div>
            </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          School Poverty Level
        </div>
        <div class="chart-stage">
          <div id="poverty-level-row-chart"></div>
        </div>
      </div>
    </div>
    </div>
    <!-- Poverty -->

    <hr>

    <!-- Grade Level -->
       <div class="row">
        <div class="col-sm-4">
          <div class="chart-wrapper">
            <div class="chart-title">
              Grade Level
            </div>
            <div class="chart-stage">
              <div id="grade-level-row-chart"></div>
            </div>
          </div>
        </div>

        <div class="col-sm-8">
              <div class="less-h5">
                <h5>Low-Income Students Hardest Hit</h5>
                <p>
                    Less state spending on education certainly affects the learning experience but it also impacts other
                    areas of the economy. Unemployed teachers and administrators have less to pump back into the economy
                    and the viscous cycle of school underfunding is furthered. While unemployment is a factor in poverty for
                    some, there are many who are employed and still live below the poverty line. A higher level of
                    education is needed for high paying jobs that can support a family. It is difficult to support a
                    family with a minimum wage job, even when working full-time. The conundrum is furthered when school
                    funding is diminishing—removing one more source of hope for ending the cycle. Children living in
                    poverty often come to school without having had enough sleep, and without having had breakfast.
                    They often experience family violence, abuse, secondhand smoke, neglect, poor clothing and shoes.
                    Even though they have limited experiences in the world, they may not be able to pay for field trips
                    and cannot pay for extracurricular activities of any kind, which could actually expand their
                    experience base. This is the frightening reality for millions of children, and teachers are very
                    likely to have impoverished students in their class. But, without the necessary resources to address
                    these concerns, little improvement will be seen. If we cannot fully fund our public schools how can
                    we expect things like the achievement gap to close or high school graduation rates to rise?
                    It was understandable that budgets had to be slashed when the bottom dropped out of the economy
                    but now that we are in a more stable place, it is time to get back to funding what matters most:
                    the education of our students.
                </p>
              </div>
            </div>
       </div>

        <!-- Grade Level -->

        <hr>

      <div id="issuesPara">
       <div class="row">
        <div class="col-sm-12">
          <h4>My plan for better funding</h4>
            <p>
                The U.S. is falling behind other countries in test scores across a broad range of subjects and grade
                levels. Polls show growing public dissatisfaction with everything from school choice, classroom sizes,
                aging infrastructure, standardized testing and curriculum. Everyone can criticize our government's public
                education system, with justification. Based on any rational review of the facts, it is failing. It may be
                political suicide to risk alienating sources of political contributions, blocs of union voters and
                entrenched special interests, but here's what needs to be done:
            </p>
                 <ul>
                  <li>
                      Restructure the Department of Education: The DOE currently employs 5,000 government workers and
                      has an annual budget of $73 billion, yet according to the CATO Institute, it has not affected student
                      outcomes in any demonstrable way over its 40-year history . It has successfully created a system that
                      requires educators to teach reams of "politically-correct" content and focus on scoring well on
                      standardized tests. It has created an atmosphere of testing in our schools, putting intense pressure on
                      teachers and students to "ace the test" rather than mastering the material. This promotes a culture of
                      teaching to the test and score tampering. Drive control of the standards and testing to the State and
                      local level.
                  </li>
                 </ul>
                <br>
                 <ul>
                  <li>
                      Invest state and federal dollars in open educational resources: Mandate that all monies for
                      state and federal curriculum be used to develop, curate, align, and disseminate open educational
                      resources. The small cabal of publishers who are currently feeding at the public trough by selling
                      us warmed-over textbooks needs stopped. Two plus two has equaled four for a long time.
                  </li>
                 </ul>
                <br>
                 <ul>
                  <li>
                      Give parents choices: Vouchers create competition for the best teachers and give parents
                      choices. And parents DO want that right to choose where their kids go to school. Vouchers, charter
                      schools and the other "school choice" policies each receive majority support from mothers of
                      school-age children in the "Schooling in America Survey," a project of the pro-reform Friedman
                      Foundation for Educational Choice, conducted by Braun Research, Inc. Vouchers were supported by 61
                      percent of respondents, while charter schools were favored by 53 percent. This creates a competitive
                      landscape for the best teachers.
                  </li>
                 </ul>
                <br>
            <p>
                Fixing public education in the U.S. is a very complex problem. Entrenched special interests will resist
                change at all costs. The monies in play are enormous. Many politicians receive generous campaign
                contributions to insure the maintenance of the current status quo. In twenty five states, even teachers
                who choose not to join the union are required to pay the portion of union dues that goes to collective
                bargaining because they are still covered by that contract. Major text book publishers aren't going to let
                go of $8 billion annually without a fight. Childless taxpayers pay into this system, which then pays public
                schoolteachers' salaries, which go in part to union dues. These dues pay for political contributions to elect
                officials who in turn perpetuate the failing status quo, including the coming fiscal catastrophe that unfunded
                pension liabilities will soon visit upon us all. The stakes are too high not to fix public education.
                We risk our competitive position in the world if we don't. The other candidates are giving education
                simple lip service. We need sweeping changes, major overhaul. Someone has to "cut the Gordian knot."
                Alexander became "the Great" by doing that. I, for one, need to hear what the other candidates will
                actually commit to doing to make the changes all in Indiana can agree are so desperately needed. Which of the
                current set of candidates has the courage to stand for education? We owe our kids the best future possible.
                <!--http://www.cnbc.com/2016/08/09/our-public-education-system-is-failing-scott-mcnealy-commentary.html-->
           </p>
         </div>
        </div>
       </div>
</div>
</div>

    <hr>

 <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-6">
                   <strong>Connect with us on:</strong><br>
                     <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
                         <span class="fa fa-facebook"></span>
                     </a>
                    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                     <a class="btn btn-social-icon btn-google" href="https://plus.google.com/explore">
                         <span class="fa fa-google"></span>
                     </a>
                </div>

                <div class="col-lg-6">
                    <address>
                        <strong>Contact us:</strong><br>
                        Tel:<br>
                        (202) 863-8000<br>
                        Address:<br>
                        430 South street<br>
                        Washington, DC 20003
                    </address>
                   <p>Copyright &copy 2017, All rights reserved | Support@MarkW.com</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
</body>
</html>