<!DOCTYPE html>
<html>
<head>
  <title>Issues</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css')}}"/>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='bower_components/bootstrap-social/bootstrap-social.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
</head>

<body>
<div id="wrapper">
  <img src="/static/images/banner.png" class="img-responsive" alt="">
</div>
 <header id="header">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./"></a>
          <ul class="nav navbar-nav">
              <li><a href= "{{ url_for('home') }}">Home</a></li>
              <li><a href= "{{ url_for('issues') }}">Issues</a></li>
              <li><a href= "{{ url_for('about') }}">About</a></li>
              <li><a href= "{{ url_for('donate') }}">Donate</a></li>
          </ul>
      </div>
    </div>
  </div>
 </header>

<!-- Page Content -->
<div class="container">
  <div  id="outer" class="container-fluid">
      <h4>Education funding through the years</h4>
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <!-- Time Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Donations
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart -->

          <!-- Resources -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Grade Level
              </div>
              <div class="chart-stage">
                <div id="grade-level-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources -->

          <!-- funding Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Funding Status
              </div>
              <div class="chart-stage">
                <div id="funding-chart"></div>
              </div>
            </div>
          </div>
          <!-- funding Pie -->
        </div>
      </div>

      <!-- Poverty -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Poverty Level
          </div>
          <div class="chart-stage">
            <div id="poverty-level-row-chart"></div>
          </div>
        </div>
      </div>
      <!-- Poverty -->

      <!-- menu select -->
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Donation State
          </div>
          <div class="chart-stage">
            <div id="menu-select"></div>
          </div>
        </div>
      </div>
      <!-- menu select -->

      <!-- Metric 1 -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Donations
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="number-projects-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Donations in USD
          </div>
          <div class="chart-stage">
            <div id="total-donations-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->
    </div>
  </div>
  <hr>


<div id="issuesPara">
 <div class="row">
        <div class="col-sm-12">
          <h4>My plan for better funding</h4>
        <p>
            "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
            was born and I will give you a complete account of the system, and expound the actual teachings
            of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes,
            or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
            pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone
            who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally
            circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial
            example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
            from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has
            no annoying consequences, or one who avoids a pain that produces no resultant pleasure?" "But I must explain
            to you how all this mistaken idea of denouncing pleasure and praising pain
            was born and I will give you a complete account of the system, and expound the actual teachings
            of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes,
            or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
            pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone
            who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally
            circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial
            example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
            from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has
            no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
        </p>
        </div>
     </div>
   </div>
</div>
    <hr>

 <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-6">
                   <strong>Connect with us on:</strong><br>
                     <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
                         <span class="fa fa-facebook"></span>
                     </a>
                    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                     <a class="btn btn-social-icon btn-google" href="https://plus.google.com/explore">
                         <span class="fa fa-google"></span>
                     </a>
                </div>

                <div class="col-lg-6">
                    <address>
                        <strong>Contact us:</strong><br>
                        Tel:<br>
                        (202) 863-8000<br>
                        Address:<br>
                        430 South street<br>
                        Washington, DC 20003
                    </address>
                   <p>Copyright &copy 2017, All rights reserved | Support@MarkW.com</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
</body>
</html>