<!DOCTYPE html>
<html>
<head>
  <title>Issues</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css')}}"/>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='bower_components/bootstrap-social/bootstrap-social.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='font-awesome-4.7.0/css/font-awesome.min.css')}}">
</head>

<body>
<div id="wrapper">
  <img src="/static/images/banner.png" class="img-responsive" alt="">
</div>
 <header id="header">
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./"></a>
          <ul class="nav navbar-nav">
              <li><a href= "{{ url_for('home') }}">Home</a></li>
              <li><a href= "{{ url_for('issues') }}">Issues</a></li>
              <li><a href= "{{ url_for('about') }}">About</a></li>
              <li><a href= "{{ url_for('donate') }}">Donate</a></li>
          </ul>
      </div>
    </div>
  </div>
 </header>

<!-- Page Content -->
<div class="container">
  <div  id="outer" class="container-fluid">
      <h4>Education funding through the years</h4>
       <hr>
         <!-- menu select -->
            <div class="col-sm-12">
             <div class="chart-wrapper">
              <div class="chart-title">
                Select State
              </div>
              <div class="chart-stage">
                <div id="menu-select"></div>
              </div>
             </div>
            </div>
        <!-- menu select -->

        <!-- Time Chart -->
         <div class="row">
            <div class="col-sm-3">
              <div>
                <h5>Lack of funding</h5>
                <p>
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                    was born and I will give you a complete account of the system, and expound the actual teachings
                    of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes,
                    or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
                    pleasure rationally encounter consequences that are extremely painful.
                </p>
              </div>
            </div>

            <div class="col-xs-9">
             <div class="chart-wrapper">
              <div class="chart-title">
                Government Funding
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
             </div>
            </div>
         </div>
         <!-- Time Chart -->
        <hr>

        <!-- funding Pie -->
      <div class="row">
        <div class="col-sm-3">
          <div class="chart-wrapper">
            <div class="chart-title">
              Government Funding Commitments
            </div>
            <div class="chart-stage">
              <div id="funding-chart"></div>
            </div>
          </div>
        </div>

      <div class="col-sm-9">
          <h5>Failed commitments</h5>
          <p>
           But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
           was born and I will give you a complete account of the system, and expound the actual teachings
           of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes,
           or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
           pleasure rationally encounter consequences that are extremely painful. To take a trivial
           example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
           from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has
           no annoying consequences, or one who avoids a pain that produces no resultant pleasure?" "But I must explain
           to you how all this mistaken idea of denouncing pleasure and praising pain. To take a trivial
           example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
           from it? No one rejects, dislikes,
           or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
           pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone
           who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally
           circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial
           example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
           from it?
          </p>
        </div>
      </div>
     <!-- funding Pie -->

    <hr>

     <!-- Poverty -->
    <div class="row">
            <div class="col-sm-8">
              <div>
                <h5>How funding affects students in poverty</h5>
                <p>
                  But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                  was born and I will give you a complete account of the system, and expound the actual teachings
                  of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes,
                  or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
                  pleasure rationally encounter consequences that are extremely painful. No one rejects, dislikes,
                  or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
                  pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone
                  who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally
                  circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial
                  example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
                  from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has
                  no annoying consequences, or one who avoids a pain that produces no resultant pleasure?" "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                  was born and I will give you a complete account of the system, and expound the actual teachings
                  of the great explorer of the truth, the master-builder of human happiness.
                </p>
              </div>
            </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Poverty Level
        </div>
        <div class="chart-stage">
          <div id="poverty-level-row-chart"></div>
        </div>
      </div>
    </div>
    </div>
    <!-- Poverty -->

    <hr>

    <!-- Grade Level -->
       <div class="row">
        <div class="col-sm-4">
          <div class="chart-wrapper">
            <div class="chart-title">
              Grade Level
            </div>
            <div class="chart-stage">
              <div id="grade-level-row-chart"></div>
            </div>
          </div>
        </div>

        <div class="col-sm-8">
              <div>
                <h5>Poor funding poor grades</h5>
                <p>
                  But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                  was born and I will give you a complete account of the system, and expound the actual teachings
                  of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes,
                  or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
                  pleasure rationally encounter consequences that are extremely painful. No one rejects, dislikes,
                  or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
                  pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone
                  who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally
                  circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial
                  example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
                  from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has
                  no annoying consequences, or one who avoids a pain that produces no resultant pleasure?" "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                  was born and I will give you a complete account of the system, and expound the actual teachings
                  of the great explorer of the truth, the master-builder of human happiness.
                </p>
              </div>
            </div>
       </div>

        <!-- Grade Level -->

        <hr>

      <div id="issuesPara">
       <div class="row">
        <div class="col-sm-12">
          <h4>My plan for better funding</h4>
           <p>
            "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
            was born and I will give you a complete account of the system, and expound the actual teachings
            of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes,
            or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
            pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone
            who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally
            circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial
            example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
            from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has
            no annoying consequences, or one who avoids a pain that produces no resultant pleasure?" "But I must explain
            to you how all this mistaken idea of denouncing pleasure and praising pain
            was born and I will give you a complete account of the system, and expound the actual teachings
            of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes,
            or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
            pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone
            who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally
            circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial
            example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
            from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has
            no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
           </p>
         </div>
        </div>
       </div>
</div>
</div>

    <hr>

 <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-6">
                   <strong>Connect with us on:</strong><br>
                     <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
                         <span class="fa fa-facebook"></span>
                     </a>
                    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com">
                        <span class="fa fa-twitter"></span>
                    </a>
                     <a class="btn btn-social-icon btn-google" href="https://plus.google.com/explore">
                         <span class="fa fa-google"></span>
                     </a>
                </div>

                <div class="col-lg-6">
                    <address>
                        <strong>Contact us:</strong><br>
                        Tel:<br>
                        (202) 863-8000<br>
                        Address:<br>
                        430 South street<br>
                        Washington, DC 20003
                    </address>
                   <p>Copyright &copy 2017, All rights reserved | Support@MarkW.com</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
</body>
</html>